<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.istravelConnectionString"
            connectionString="Data Source=ZZZZ\TAHASRV;Initial Catalog=istravel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SlimDX" publicKeyToken="b1b0c32fd1ffe4f9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.13.43" newVersion="4.0.13.43" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NanoByte.Common" publicKeyToken="3090a828a7702cec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.8.0" newVersion="1.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NanoByte.Common.SlimDX" publicKeyToken="3090a828a7702cec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.8.0" newVersion="1.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NanoByte.Common.WinForms" publicKeyToken="3090a828a7702cec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.8.0" newVersion="1.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>